# Foldery build i obiekty
[Bb]in/
[Oo]bj/
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates

# Foldery systemowe/IDE
.DS_Store
Thumbs.db
*.suo

# MAUI / Android / iOS
[Aa]pp[Xx]am[Ll].g.cs
[Aa]pp[Xx]am[Ll].g.i.cs
*.apk
*.aab
*.ipa

# Logi i dane tymczasowe
*.log
*.tmp